<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>finger_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,140},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,280},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,420},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,560},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,700},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,560},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,420},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,280},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,138}</string>
                <key>textureRect</key>
                <string>{{0,140},{100,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>finger_effect.png</string>
            <key>size</key>
            <string>{100,838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f624429a797fa06b77e26de35a4cad:3e7053242f70c0ed6c28d04c40a30234:587a648262600e50e05afa5e3fac52d4$</string>
            <key>textureFileName</key>
            <string>finger_effect.png</string>
        </dict>
    </dict>
</plist>
